:root {
	--checkbox-size: 30px;
	--bg-color: #FFA69E;
	--checkbox-color: black;
	--hover-color: #892827;
	--tick-color: #892827;
	--hover-nav-color: #342610;
}

body {
  background-image: url("images/paper.png");
  background-repeat: repeat;
  color: black;
  font-family: 'Special Elite', cursive;
  font-size: 2.5rem;
}

h1 {
  color: black;
  font-family: 'Fredericka the Great', cursive;
  font-size: 6rem;
  font-weight: normal;
  padding-left: 12.5rem;
}

p {
	padding-left: 50px;
	padding-top: 0;
}

span:hover {
  font-weight: bold;
}

.container {
  padding-left: 16.25rem;
}

.nav-image {
  height: 70%;
  padding-bottom: 0;
  position: relative;
  max-width: 85%;
  z-index: 0;
}

.lesson {
  padding-bottom: 5.625rem;
}

/* Style the navbar */
#menu {
  margin: 0;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  overflow: visible;
  position: absolute;
  z-index: 3;
}

/* Navbar's buttons */
.button {
  font-family: 'Special Elite', cursive;
  display: inline-block;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 5.625rem 1.25rem 1.875rem 1.25rem;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  color: black;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background: transparent;
  color: var(--hover-nav-color);
  transform: scale(1.1);
}

/*Dropdown menu*/

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  background-image: url("images/paper.png");
  border-radius: 0.313rem;
  display: none;
  font-size: 2rem;
  min-width: 8.125rem;
  position: absolute;
  z-index: 2;
	text-align: center;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: var(--hover-nav-color);
  display: block;
  padding: 0.625rem 0.75rem;
  position: relative;
  text-decoration: none;
  z-index: 99;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--tick-color);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* To the top button */
.fas {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 1.25rem; /* Place the button at the bottom of the page */
  left: 1.875rem; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: transparent; /* Set a background color */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 0.938rem; /* Some padding */
  border-radius: 0.625rem; /* Rounded corners */
  font-size: 1.125rem; /* Increase font size */
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

/*--------------------------CHECKBOXES-------------------------------*/

label {
	display: inline-block;
	margin: 0 calc(var(--checkbox-size) * 0.25);
	width: var(--checkbox-size);
	height: var(--checkbox-size);
	border: calc(var(--checkbox-size) * 0.125) solid var(--checkbox-color);
	border-radius: 12.5%;
	-webkit-transition: 400ms 100ms ease-out;
	-o-transition: 400ms 100ms ease-out;
	transition: 400ms 100ms ease-out;
}

label:hover {
	border-color: var(--hover-color);
}

input[type="checkbox"] {
	position: absolute;
	left: -1000px;
	vertical-align: middle;
}

.tick {
	position: relative;
	right: calc(var(--checkbox-size) * -0.5);
	top: calc(var(--checkbox-size) * -0.25);
	width: calc(var(--checkbox-size) * 0.25);
	height: calc(var(--checkbox-size) * 0.75);
	border-right: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	border-bottom: calc(var(--checkbox-size) * 0.25) solid var(--tick-color);
	-webkit-transform: rotate(45deg) scale(0);
	    -ms-transform: rotate(45deg) scale(0);
	        transform: rotate(45deg) scale(0);
	opacity: 0;
	-webkit-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	-o-transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
	transition: all 600ms cubic-bezier(0.175, 0.885, 0.32, 1.5);
}

.tick:before {
	content: '';
	position: absolute;
	left: calc(var(--checkbox-size) * -0.125);
	bottom: calc(var(--checkbox-size) * -0.25);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

.tick:after {
	content: '';
	position: absolute;
	right: calc(var(--checkbox-size) * -0.25);
	top: calc(var(--checkbox-size) * -0.125);
	border: calc(var(--checkbox-size) * 0.125) solid var(--tick-color);
	border-radius: 50%;
}

input[type="checkbox"]:checked + label .tick {
	opacity: 1;
	-webkit-transform: rotate(45deg) scale(1);
	    -ms-transform: rotate(45deg) scale(1);
	        transform: rotate(45deg) scale(1);
}

input[type="checkbox"]:focus + label {
	-webkit-animation-name: cb-pop;
	        animation-name: cb-pop;
	-webkit-animation-duration: 400ms;
	        animation-duration: 400ms;
	-webkit-animation-iteration-count: 1;
	        animation-iteration-count: 1;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
}

@-webkit-keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes cb-pop {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	33% {
		-webkit-transform: scale(0.9);
		        transform: scale(0.9);
	}
	66% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}

@media only screen and (max-width: 600px) {

	h1 {
		margin: auto;
		padding-top: 50px;
		padding-left: 0;
		padding-bottom: 10px;
		font-size: 30pt;
	}

	.container {
		margin: auto;
		padding: 0;
		font-size: 25pt;
	}

	.button {
		margin-bottom: 0.625rem;
		margin-top: 0.625rem;
		padding-bottom: 0;
		padding-top: 0;
		text-decoration: none;
	  transition: color 0.3s ease;
	}

	.lesson {
		padding-bottom: 20px;
	}

	input[type="checkbox"] {
		vertical-align: middle;
	}

	#menuToggle {
  display: block;
  position: relative;
  top: 30px;
  left: 30px;
  z-index: 2;
  -webkit-user-select: none;
  user-select: none;
	}

	#menuToggle input {
		display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  cursor: pointer;
	  opacity: 0; /* hide this */
	  z-index: 3; /* and place it over the hamburger */
	  -webkit-touch-callout: none;
	}

	#menuToggle span {
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;

	  background: black;
	  border-radius: 3px;

	  z-index: 2;

	  transform-origin: 4px 0px;

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	              opacity 0.55s ease;
	}

	#menuToggle span:first-child {
	  transform-origin: 0% 0%;
	}

	#menuToggle span:nth-last-child(2) {
	  transform-origin: 0% 100%;
	}

/*
 * Transform all the slices of hamburger
 * into a crossmark.
 */
	#menuToggle input:checked ~ span {
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: #232323;
	}

/*
 * But let's hide the middle one.
 */
	#menuToggle input:checked ~ span:nth-last-child(3) {
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}

/*
 * Oh yeah and the last one should go the other direction
 */
	#menuToggle input:checked ~ span:nth-last-child(2) {
	  transform: rotate(-45deg) translate(0, -1px);
	}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
	#menu {
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
		display: flex;
		flex-direction: column;
		z-index: 1;

	  background-image: url("images/paper.png");
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */

	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);

	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

/*
 * And let's slide it in from the left
 */
	#menuToggle input:checked ~ #menu {
	  transform: none;
	}
}

@media only screen and (max-width: 1700px) {
	.nav-image {
		display: none;
	}

	.navbar {
		display: flex;
		flex-direction: row;
		padding-bottom: 50px;
	}

	h1 {
		margin: auto;
		padding-top: 90px;
		padding-left: 0;
		padding-bottom: 10px;
		font-size: 60pt;
	}

	.container {
		margin: auto;
		padding: 0;
		font-size: 25pt;
	}

	.button {
		margin-bottom: 0.625rem;
		margin-top: 0.625rem;
		padding-top: 30px;
		text-decoration: none;
	  transition: color 0.3s ease;
	}

	.lesson {
		padding-bottom: 20px;
	}

	input[type="checkbox"] {
		vertical-align: middle;
	}
}
